@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Mulish", sans-serif;
}
/* header section code */
.header{
    max-width: 1170px;
    margin: 2rem auto;
}
.nabar{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.travel{
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
}
.tomato{
    color: rgb(255, 84, 0);
}
.nabar ul{
    display: flex;
}
.nabar ul li{
    margin-right: 2.8rem;
    list-style: none;
}
.nabar ul li a{
    text-decoration: none;
    color: rgb(66, 66, 71);
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}
.nabar ul li a .active{
    color: rgb(255, 84, 0);
}
/*  main section code start */
.main{
    max-width: 1170px;
    margin: 0 auto;
}
/* .main > section{
    margin: 80px 0;
} */
 /* banner section code */
 .banner-container{
    background-image: url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    /* background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
 }
 /* .container{
 } */
 .travel-heading{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 40px;
 }
 .travel-title{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
     width: 676px;
    margin-bottom: 60px;
 }
 .travel-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem;
 }
input, select{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    color: rgba(19, 19, 24, 0.5);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
 } 
 .btn-priamary{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    border: none;
    width: 174px;
    height: 52px;
 }
 /*  popular section code  */
.container-popular{
    margin: 80px auto;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 3rem;
 }
 .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
 }
 .popular{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
 }
 .popular-title{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
 }
 .ul .li{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
 }
 /* cuntary section code */
 .card-container{
    margin: 60px 0;
 }
 .card-container img {
    width: 100%;
    height: 100%;
 }
 .row-1,
 .row-2,
 .row-3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 1rem;
    gap: 1rem;
 }
 .row-2{
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: 0.8fr 1fr 0.7fr;
}
 .row-3{
    grid-template-columns: 0.8fr 1fr;
 }
.country-card{
    position: relative;
}
.pa{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    font-size: 28px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}    
.card-container h6{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}
.card-container p{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px;
}
/* footer section code */
#footer{
    background-color: grey;
}
.footer-container{
    width: 90%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-titel{
   color: tomato; 
   font-size: 36px;
   font-weight: 600;
}
.footer-word{
    color: #000; 
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
}
.footer-sec p{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.start{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px;
}